<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f212532e-e287-4d0e-8013-93bfd0ba1cd8/resourcegroups/examen2doP20241108191931ResourceGroup/providers/Microsoft.Web/sites/examen2doP20241108191931</ResourceId>
    <ResourceGroup>examen2doP20241108191931ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f212532e-e287-4d0e-8013-93bfd0ba1cd8/resourceGroups/examen2doP20241108191931ResourceGroup/providers/Microsoft.ApiManagement/service/examen2doPapi/apis/examen2doP</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://examen2dop20241108191931.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0f7029cb-b109-4364-978a-7a4dd46f90e1</ProjectGuid>
    <MSDeployServiceURL>examen2dop20241108191931.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>examen2doP20241108191931</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$examen2doP20241108191931</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>